@font-face {
  font-family: "BedSteadRegular";
  src: url("/fonts/BedSteadRegular/bedstead.regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
  color: whitesmoke;
  text-transform: none;
  font-family: "BedSteadRegular", sans-serif;
  background-image: url("/svg/vortexbg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  height: 100%;
  margin: 10px;
  overflow: hidden;
  letter-spacing: 1.5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 10px;
}
